@charset "utf-8";

body {
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	font-family: Trebuchet MS;
	font-size: 12px;
	background-attachment: scroll;
}
#container {
	width: 770px;
	margin: 0 auto;
}
#contentarea {
	position: relative;
}
.navigation {
	height: 25px;
	width: 660px;
	text-align: center;
	color: #000000;
	background-repeat: repeat-x;
	background-position: left 7px;
	background-color: #CAFFFF;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
}
.img{
	position: absolute;
	right: 140px;
	top: 10px;
}
.navigation a {
	color: #000000;
}
.navigation  a:hover {
	color: #f8cd04;
	text-decoration: underline;
}
.navigation ul {
	margin: 0px;
	padding: 0px;
}
.navigation li {
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	padding: 0 7px 0 7px;
}

.banner {
	height: 88px;
	width: 726px;
	margin: 0 auto 15px auto;
}
.searcbar {
	height: 30px;
	text-align: center;
}
.input01 {
	width: 374px;
	margin: 0 10px 0 0;
}
.select01 {
	width: 124px;
	margin: 0 10px 0 0;
}
.select02 {
	width: 80px;
	margin: 0 10px 0 0;
}
.leftcolumn {
	float: left;
	width: 270px;
}
.rightcolumn {
	float: right;
	width: 480px;
}
.img-photo {
	height: 74px;
	width: 75px;
	float: left;
}
.columnimg {
	height: 253px;
	background-image: url(images/mainpic.gif);
	margin: 0 0 10px 0;
	background-repeat: no-repeat;
}

.column {
	border: 1px solid #000000;
	background-color: #f8cd04;
	margin: 0 0 10px 0;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
}
.column1 {
	border: 1px solid #000000;
	background-color: #f8cd04;
	margin: 0 0 10px 0;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
}
.column2 {
	border: 1px solid #000000;
	background-color: #f8cd04;
	margin: 0 0 10px 0;
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
}
.topbar {
	border: 1px solid #000000;
	background-color: #f8cd04;
	margin: 0 0 8px 0;
	background-image: url(images/bg-column.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
	height: 170px;
}
.leftbar1 {
	padding: 5px;
	line-height: 18px;
	background-color: #FFFFFF;
	margin-bottom: 3px;
}
.leftbar2 {
	padding: 5px;
	line-height: 18px;
	background-color: #acacac;
	margin-bottom: 3px;
}
.content-inner01 {
	margin: 0;
	padding: 25px 8px 0 8px;
}
.commentdetails {
	float: left;
	width: 300px;
	margin: 0 0 0 15px;
	height: 74px;
}
.otherdetail {
	line-height: 19px;
	padding: 20px 0 0 0;
	margin: 0;
}

.clearboth {
	clear: both;
}
.details {
	float: left;
	width: 190px;
	margin: 0 0 0 15px;
	height: 74px;
}

.othertitle{
	line-height: 19px;
	padding: 0;
	margin: 0;
}
.othertitle h1 {
	font-family: "Trebuchet MS";
	font-size: 25px;
	font-weight: normal;
	color: #206EC0;
	letter-spacing: -2px;
	margin: 0 0 10px 0;
	padding: 0;
	text-transform: uppercase;
}

.txt-bold {
	font-weight: bold;
}
.titlebar {
	height: 33px;
	margin: 0 0 5px 0;
	padding: 3px 0 0 10px;
	background-color: #000000;
}

.titlebar h1 {
	font-family: "Trebuchet MS";
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.titlebar-01 {
	height: 30px;
	margin: 10px 0 10px 0;
	padding: 3px 0 0 10px;
}

.titlebar-01 h1 {
	font-family: "Trebuchet MS";
	font-size: 25px;
	font-weight: normal;
	color: #206EC0;
	letter-spacing: -2px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}
.footer {
	padding: 10px 0 0 0;
	text-align: center;
	height: 60px;
	color: #FFFFFF;
}
.footer  ul {
	margin: 0px;
	padding: 0px;
}
.footer  li {
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	padding: 0 8px 0 8px;
}
.topheader {
	height: 200px;
}
.toptitle {
	font-family: "Trebuchet MS";
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.boxtitle {
	font-weight: bold;
	color: #7b4103;
}
.round_icon{
	width: 50px;
	height: 50px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}